<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
        <compilation debug="true" targetFramework="4.0" />
        <!-- <pages clientIDMode="Static"/> -->
      <httpRuntime requestValidationMode="2.0"/>
      <pages validateRequest="false"></pages>
    </system.web>
  
  <connectionStrings>
    <add name="myConnect" connectionString="Data Source=DESKTOP-G0QRNGE\SQLEXPRESS;Initial Catalog=shop_watch;Integrated Security=True;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>
